clone_depth: 10
configuration: Release
platform: AnyCPU
install:
  - sh: sudo apt-get -q update && sudo apt-get -q -y --no-install-recommends install gnustep-devel libx11-dev libx11-dev:i386 chrpath > /dev/null
  - ps: Start-FileDownload 'https://ci.appveyor.com/api/projects/markfinal/buildamation/artifacts/bam.tar?branch=master&job=Image%3A%20Visual%20Studio%202017'
  - ps: Start-FileDownload 'https://ci.appveyor.com/api/projects/markfinal/buildamation/artifacts/ubuntu_install_scripts.tar?branch=master&job=Image%3A%20Visual%20Studio%202017'
  - cmd: 7z x bam.tar -oc:\BuildAMation
  - sh: mkdir ~/BuildAMation
  - sh: tar xf bam.tar -C ~/BuildAMation
  - sh: tar xf ubuntu_install_scripts.tar -C ~
environment:
  matrix:
  - job_name: Ubuntu 18 (GCC 9) Native
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 9) MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 8) Native
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 8) MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 7) Native
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 7) MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 6) Native
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 18 (GCC 6) MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
  - job_name: Ubuntu 16 (GCC 5) Native
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1604
  - job_name: Ubuntu 16 (GCC 5) MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1604
  - job_name: Visual Studio 2019 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  - job_name: Visual Studio 2019 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  - job_name: Visual Studio 2019 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  - job_name: Visual Studio 2017 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - job_name: Visual Studio 2017 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - job_name: Visual Studio 2017 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - job_name: Visual Studio 2015 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2015 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2015 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2013 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2013 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2013 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2012 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2012 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2012 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2010 Native
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2010 MakeFile
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - job_name: Visual Studio 2010 VSSolution
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
for:
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 9) Native
    environment:
      BAM_BUILD_MODE: Native
      GCC_VERSION: 9
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc9.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 9) MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile
      GCC_VERSION: 9
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc9.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 8) Native
    environment:
      BAM_BUILD_MODE: Native
      GCC_VERSION: 8
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc8.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 8) MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile
      GCC_VERSION: 8
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc8.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 7) Native
    environment:
      BAM_BUILD_MODE: Native
      GCC_VERSION: 7
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc7.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 7) MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile
      GCC_VERSION: 7
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc7.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 6) Native
    environment:
      BAM_BUILD_MODE: Native
      GCC_VERSION: 6
      EXTRA_TEST_ARGS: -T Cxx17Test1
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc6.sh
  - matrix:
      only:
        - job_name: Ubuntu 18 (GCC 6) MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile
      GCC_VERSION: 6
      EXTRA_TEST_ARGS: -T Cxx17Test1
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc6.sh
  - matrix:
      only:
        - job_name: Ubuntu 16 (GCC 5) Native
    environment:
      BAM_BUILD_MODE: Native
      GCC_VERSION: 5
      EXTRA_TEST_ARGS: -T Cxx17Test1
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc5.sh
  - matrix:
      only:
        - job_name: Ubuntu 16 (GCC 5) MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile
      GCC_VERSION: 5
      EXTRA_TEST_ARGS: -T Cxx17Test1
    before_test:
      - sh: sudo ~/CI/ubuntu_install_scripts/gcc5.sh
  - matrix:
      only:
        - job_name: Visual Studio 2019 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 16
  - matrix:
      only:
        - job_name: Visual Studio 2019 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 16
  - matrix:
      only:
        - job_name: Visual Studio 2019 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 16
  - matrix:
      only:
        - job_name: Visual Studio 2017 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 15.0
  - matrix:
      only:
        - job_name: Visual Studio 2017 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 15.0
  - matrix:
      only:
        - job_name: Visual Studio 2017 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 15.0
  - matrix:
      only:
        - job_name: Visual Studio 2015 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 14.0
      EXTRA_TEST_ARGS: -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2015 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 14.0
      EXTRA_TEST_ARGS: -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2015 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 14.0
      EXTRA_TEST_ARGS: -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2013 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 12.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2013 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 12.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2013 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 12.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2012 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 11.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2012 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 11.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2012 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 11.0
      EXTRA_TEST_ARGS: -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2010 Native
    environment:
      BAM_BUILD_MODE: Native
      VC_VERSION: 10.0
      EXTRA_TEST_ARGS: --C.bitdepth=32 -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2010 MakeFile
    environment:
      BAM_BUILD_MODE: MakeFile --MakeFile.format=NMAKE
      VC_VERSION: 10.0
      EXTRA_TEST_ARGS: --C.bitdepth=32 -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
  - matrix:
      only:
        - job_name: Visual Studio 2010 VSSolution
    environment:
      BAM_BUILD_MODE: VSSolution
      VC_VERSION: 10.0
      EXTRA_TEST_ARGS: --C.bitdepth=32 -T Cxx11Test1 -T Cxx14Test1 -T Cxx17Test1
build: off
test_script:
  - cmd: "SET PATH=C:\\Python27-x64;%PATH%"
  - cmd: cd c:\BuildAMation && env.bat && python tests\runtests.py -x Mingw --VisualC.version=%VC_VERSION% -b %BAM_BUILD_MODE% -c debug -c profile -j0 -d %EXTRA_TEST_ARGS%
  - sh: cd ~/BuildAMation && source env.sh && python tests/runtests.py --Gcc.version=$GCC_VERSION -b $BAM_BUILD_MODE -c debug -c profile -j0 -d $EXTRA_TEST_ARGS
