image: Visual Studio 2017
clone_depth: 50
configuration: Release
platform: Any CPU
#install:
  # default Nuget version is 2.8.x, which gives NUnit errors - using the latest does not
  # latest NuGet (4.6) gives this error: Unhandled Exception: System.MissingMethodException: Method not found: '!!0[] System.Array.Empty()'.
  # which is apparently due to .NET Framework 4.6 not being available (because of VS2013 above)
  #- appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/v4.5.1/nuget.exe
before_build:
  - cmd: dotnet --version
  #- nuget restore BuildAMation.sln
build_script:
  - dotnet build -c %CONFIGURATION%
after_build:
  - 7z a bam.zip %APPVEYOR_BUILD_FOLDER%\bin\ %APPVEYOR_BUILD_FOLDER%\packages\ %APPVEYOR_BUILD_FOLDER%\tests\ %APPVEYOR_BUILD_FOLDER%\env.bat %APPVEYOR_BUILD_FOLDER%\Changelog.txt %APPVEYOR_BUILD_FOLDER%\License.md %APPVEYOR_BUILD_FOLDER%\MS-PL.md
artifacts:
  - path: bam.zip
    name: Bam
test_script:
  - "SET PATH=C:\\Python27-x64;%PATH%"
  #- python codingtools\\test_bam.py
  - env.bat
  #- cd tests
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b Native -c debug -c profile -j0 -d
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b VSSolution -c debug -c profile -j0 -d
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b MakeFile -c debug -c profile -j0 -d --MakeFile.format=NMAKE
  #- cd ..
on_finish:
  #- ps: |
  #    $wc = New-Object 'System.Net.WebClient'
  #    $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit3/$env:APPVEYOR_JOB_ID", (Resolve-Path .\TestResult.xml))
