image: Visual Studio 2013
clone_depth: 50
install:
  # default Nuget version is 2.8.x, which gives NUnit errors - using the latest does not
  # latest NuGet (4.6) gives this error: Unhandled Exception: System.MissingMethodException: Method not found: '!!0[] System.Array.Empty()'.
  # which is apparently due to .NET Framework 4.6 not being available (because of VS2013 above)
  - appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/v4.5.1/nuget.exe
before_build:
  - nuget restore BuildAMation.sln
environment:
  matrix:
  - configuration: Release
    platform: Any CPU
    project: BuildAMation.sln
test_script:
  - "SET PATH=C:\\Python27-x64;%PATH%"
  - python codingtools\\test_bam.py
  - env.bat
  #- cd tests
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b Native -c debug -c profile -j0 -d
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b VSSolution -c debug -c profile -j0 -d
  #- python runtests.py -x Mingw --VisualC.version=12.0 -b MakeFile -c debug -c profile -j0 -d --MakeFile.format=NMAKE
