*~
*.pyc
*.csproj.user
*.userprefs
*.pidb
*.suo
/bin
PackageDebug
/tests/*/build
/tests/*/debug_build
/tests/Logs
.DS_Store
/Bam/obj
/Bam/docbuild
/Bam.Core/obj
/Bam.Core/docbuild
/Bam.Core.Test/bin
/Bam.Core.Test/obj
/docs
.idea/
NuGetPackages/
.nuget/
.vs/
TestResult.xml
bam_publish
Bam/Properties
