notifications:
  email:
     on_success: always
     on_failure: always
language: csharp
#solution: BuildAMation.sln
install:
  # GCC ObjectiveC, GNUStep and 32-bit GCC and G++, and 32-bit X11 development files for Test12
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install gobjc gnustep-devel gcc-multilib g++-multilib libx11-dev:i386 chrpath; fi
  #- nuget restore BuildAMation.sln
matrix:
  include:
  - os: linux
    dist: trusty
    mono: none
    dotnet: 2.1.401
    script:
      #- msbuild /p:Configuration=Release BuildAMation.sln && python codingtools/test_bam.py
      - python codingtools/dotnetcore_run_unittests.py
      - python codingtools/dotnetcore_make_release.py
      - cd bam_publish
      - source env.sh
      - python tests/runtests.py --Gcc.version=4.8 -b Native -c debug -c profile -j0 -d
      - python tests/runtests.py --Gcc.version=4.8 -b Native -c debug -c profile -j0 -d -b MakeFile
      - cd ..
      # - source env.sh
      #- cd tests
      #- python runtests.py --Gcc.version=4.8 -b Native -c debug -c profile -j0 -d
      #- python runtests.py --Gcc.version=4.8 -b Native -c debug -c profile -j0 -d -b MakeFile
      #- cd ..
  # git version is too old (2.4) to use with GitInfo (needs 2.5)
  #- os: osx
  #  osx_image: xcode6.4
  #  mono: latest
  #  script:
  #    - msbuild /p:Configuration=Release BuildAMation.sln && python codingtools/test_bam.py
  #    - source env.sh
  #    - cd tests
  #    - python runtests.py --Clang.version=Xcode6 -b Native -c debug -c profile -j0 -d
  #    - python runtests.py --Clang.version=Xcode6 -b Native -c debug -c profile -j0 -d -b MakeFile
  #    - python runtests.py --Clang.version=Xcode6 -b Native -c debug -c profile -j0 -d -b Xcode
  #- os: osx
  #  osx_image: xcode7.3
  #  mono: latest
  #  script:
  #    - msbuild /p:Configuration=Release BuildAMation.sln && python codingtools/test_bam.py
  #    - source env.sh
  #    - cd tests
  #    - python runtests.py --Clang.version=Xcode7 -b Native -c debug -c profile -j0 -d
  #    - python runtests.py --Clang.version=Xcode7 -b Native -c debug -c profile -j0 -d -b MakeFile
  #    - python runtests.py --Clang.version=Xcode7 -b Native -c debug -c profile -j0 -d -b Xcode
  #    - cd ..
  #- os: osx
  #  osx_image: xcode8.3
  #  mono: latest
  #  script:
  #    - msbuild /p:Configuration=Release BuildAMation.sln && python codingtools/test_bam.py
  #    - source env.sh
  #    - cd tests
  #    - python runtests.py --Clang.version=Xcode8 -b Native -c debug -c profile -j0 -d
  #    - python runtests.py --Clang.version=Xcode8 -b Native -c debug -c profile -j0 -d -b MakeFile
  #    - python runtests.py --Clang.version=Xcode8 -b Native -c debug -c profile -j0 -d -b Xcode
  #    - cd ..
  - os: osx
    osx_image: xcode9.4
    mono: none
    dotnet: 2.1.401
    script:
      #- msbuild /p:Configuration=Release BuildAMation.sln && python codingtools/test_bam.py
      - python codingtools/dotnetcore_make_release.py
      - cd bam_publish
      - source env.sh
      - python tests/runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d
      #- python tests/runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d -b MakeFile
      - python tests/runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d -b Xcode
      - cd ..
      # - source env.sh
      #- cd tests
      #- python runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d
      #- python runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d -b MakeFile
      #- python runtests.py --Clang.version=Xcode9 -b Native -c debug -c profile -j0 -d -b Xcode
      #- cd ..
  # DotNetCore axis removed as the referenced assemblies in the .sln
  # are incorrect for this
  #- os: linux
  #  mono: none
  #  dotnet: 2.1.4
  #  script:
  #    - dotnet msbuild /p:Configuration=Release BuildAMation.sln
  #    - python codingtools/test_bam.py
