git:
  depth: 10
notifications:
  email:
     on_success: always
     on_failure: always
language: csharp
python: '2.7'
install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get -q update && sudo apt-get -q -y --no-install-recommends install g++ g++-multilib; fi
  - wget 'https://ci.appveyor.com/api/projects/markfinal/buildamation/artifacts/bam.tar?branch=master&job=Image%3A%20Visual%20Studio%202017' -O /tmp/bam.tar
  - mkdir -p /tmp/BuildAMation
  - tar xf /tmp/bam.tar -C /tmp/BuildAMation
before_script:
  - dotnet --version
matrix:
  include:
  - os: linux
    dist: trusty
    mono: none
    dotnet: 2.1.401
    name: Ubuntu 14 (GCC 4.8) Native
    env:
      - BAM_BUILD_MODE=Native
      - BAM_TOOLCHAIN_NAME=Gcc
      - BAM_TOOLCHAIN_VERSION=4.8
  - os: linux
    dist: trusty
    mono: none
    dotnet: 2.1.401
    name: Ubuntu 14 (GCC 4.8) MakeFile
    env:
      - BAM_BUILD_MODE=MakeFile
      - BAM_TOOLCHAIN_NAME=Gcc
      - BAM_TOOLCHAIN_VERSION=4.8
  - os: osx
    osx_image: xcode10.2
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 10.2) Native
    env:
      - BAM_BUILD_MODE=Native
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode10
  - os: osx
    osx_image: xcode10.2
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 10.2) MakeFile
    env:
      - BAM_BUILD_MODE=MakeFile
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode10
  - os: osx
    osx_image: xcode10.2
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 10.2) Xcode
    env:
      - BAM_BUILD_MODE=Xcode
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode10
  - os: osx
    osx_image: xcode9.4
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 9.4) Native
    env:
      - BAM_BUILD_MODE=Native
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode9
  - os: osx
    osx_image: xcode9.4
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 9.4) MakeFile
    env:
      - BAM_BUILD_MODE=MakeFile
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode9
  - os: osx
    osx_image: xcode9.4
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 9.4) Xcode
    env:
      - BAM_BUILD_MODE=Xcode
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode9
  - os: osx
    osx_image: xcode8.3
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 8.3) Native
    env:
      - BAM_BUILD_MODE=Native
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode8
  - os: osx
    osx_image: xcode8.3
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 8.3) MakeFile
    env:
      - BAM_BUILD_MODE=MakeFile
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode8
  - os: osx
    osx_image: xcode8.3
    mono: none
    dotnet: 2.1.401
    name: MacOS (Xcode 8.3) Xcode
    env:
      - BAM_BUILD_MODE=Xcode
      - BAM_TOOLCHAIN_NAME=Clang
      - BAM_TOOLCHAIN_VERSION=Xcode8
script:
  - cd /tmp/BuildAMation && source env.sh && python tests/runtests.py --${BAM_TOOLCHAIN_NAME}.version=${BAM_TOOLCHAIN_VERSION} -c debug -c profile -j0 -d --nodefaultrepo -r . -b $BAM_BUILD_MODE $EXTRA_TEST_ARGS
